.group-header {
    display: flex;
    justify-content: space-between;
}

.group {
    border-style: solid;
    border-color: #929aab;
    border-width: 1px;
    margin: 10px 0px;
}

.group-button {
    background-color: #ea5455;
    border-style: hidden;
    color: white;
    padding: 0px 30px;
    height: 40px;
    margin: 10px;
}

.team-name {
    background-color: #929aab;
    text-align: center;
    color: white;
    padding: 5px 0px;
    font-size: 15px;
    margin: 0px;
}

.students-group-content {
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
}

.student {
    background-color: #eeeeee;
    width: 100px;
    height: 30px;
    margin: 5px 10px;
    text-align: center;
    padding: 2px;
    font-weight: bold;
}

.team-name-input {
    background-color: #eeeeef;
    width: 100%;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}